.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}

.add-image {
    display: flex;
}

.add-image > button {
    margin-left: 15px;
}

.profile-image > img{
   object-fit: cover;
   object-position: center;
}

