mat-toolbar {
    justify-content: space-between; 
}

.content {
   padding: 40px;
}

.app-name {
    justify-content: left;
}

.profile-image-toolbar{
    border-radius: 100%;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}