<div class="form-container mat-elevation-z5">
   <h1>Вход</h1>
   <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-form-field>
         <input matInput placeholder="Имейл адрес" formControlName="email" />
         <mat-error *ngIf="email?.errors?.['required']">
            Моля въведете имейл адрес
         </mat-error>
         <mat-error *ngIf="email?.errors?.['email']">
            Моля въведете валиден имейл адрес
         </mat-error>
      </mat-form-field>
      <mat-form-field>
         <input matInput type="password" placeholder="Парола" formControlName="password" />
         <mat-error *ngIf="password?.errors?.['required']">
            Задължително поле за парола
         </mat-error>
      </mat-form-field>
      <div class="center margin-top">
         <button type="submit" mat-raised-button color="primary">Вход</button>
      </div>
      <span class="center margin-top">Нямате акаунт? <a class="sign-up-link"
            routerLink="/sign-up">Регистрация</a></span>
   </form>
</div>