<h1>Всички рецепти</h1>
<button routerLink="/create" class="btn btn-primary">Създаване на рецепта</button>
<br>
<table class="table">
   <thead class="thead-light">
      <th scope="col">Име на рецептата</th>
      <th scope="col">Време за приготвяне</th>
      <th scope="col">Описание</th>
   </thead>

   <tbody>
      <tr *ngFor="let recipe of Recipes">
         <ng-container>
            <td mat-cell>{{recipe.name}}</td>
            <td mat-cell>{{recipe.prepartionTime}}</td>
            <td mat-cell>{{recipe.description}}</td>
            <td mat-cell>
               <button mat-mini-fab routerLink="/edit/{{recipe.id}}">
                  <mat-icon>edit</mat-icon>
               </button>
               <button mat-mini-fab (click)="deleteRow(recipe)">
                  <mat-icon>delete</mat-icon>
               </button>
            </td>
         </ng-container>
         <hr>
      </tr>
   </tbody>
</table>