<h1>Всички рецепти</h1>
<table mat-table>
   <thead>
      <th mat-header-cell>Име на рецептата</th>
      <th mat-header-cell>Време за приготвяне</th>
      <th mat-header-cell>Описание</th>
   </thead>

   <tbody>
      <tr *ngFor="let recipe of Recipes">
         <ng-container>
            <td mat-cell>{{recipe.name}}</td>
            <td mat-cell>{{recipe.prepartionTime}}</td>
            <td mat-cell>{{recipe.description}}</td>
            <td mat-cell>
               <button routerLink="/edit/{{recipe.id}}">
                  <mat-icon>edit</mat-icon>
               </button>
               <button (click)="deleteRow(recipe)">
                  <mat-icon>delete</mat-icon>
               </button>
            </td>
         </ng-container>
      </tr>
   </tbody>
</table>